@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.shop__section-2 {
    width: auto;
    height: 270px;
    display: flex;
    align-items: center;
    padding: 0 53px;
    justify-content: space-between;
    font-family: "Poopins", sans-serif;
    background-color: #FAF3EA;

    .card {
        display: flex;
        gap: 10px;

        .item-img {
            width: 60px;
            height: 60px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        .item_text {
            line-height: 30px;

            h2 {
                font-weight: 600;
                font-size: 25px;
                color: #242424;

            }

            p {
                color: #898989;
                font-size: 20px;
                font-weight: 500;
                word-spacing: 5px;
            }
        }
    }
}